<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.davidbuscholl.veranstalter">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GUI.Activities.Veranstalter.VeranstaltungDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GUI.Activities.LoginRegisterActivity"
            android:label="@string/title_activity_login_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GUI.Activities.MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GUI.Activities.Veranstalter.VeranstalterActivity"
            android:label="@string/title_activity_veranstalter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GUI.Activities.Veranstalter.VeranstaltungHinzufuegenActivity"
            android:label="Veranstaltung hinzufügen"
            android:parentActivityName=".GUI.Activities.Veranstalter.VeranstalterActivity"></activity>
    </application>

</manifest>