<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.davidbuscholl.veranstalter">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GUI.Activities.Veranstalter.VeranstaltungDetailActivity"
            android:label="Detailansicht"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GUI.Activities.LoginRegisterActivity"
            android:label="Login &amp; Registrierung"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GUI.Activities.MainActivity"
            android:label="Loginvorgang"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GUI.Activities.Veranstalter.VeranstalterActivity"
            android:label="Eigene Veranstaltungen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GUI.Activities.Veranstalter.VeranstaltungHinzufuegenActivity"
            android:label="Veranstaltung hinzufügen"
            android:parentActivityName=".GUI.Activities.Veranstalter.VeranstalterActivity" />
        <activity
            android:name=".GUI.Activities.Veranstalter.VeranstaltungTreffenActivity"
            android:label="Treffen hinzufügen"
            android:parentActivityName=".GUI.Activities.Veranstalter.VeranstaltungDetailActivity" />
        <activity
            android:name=".GUI.Activities.Teilnehmer.TeilnehmerActivity"
            android:label="Angemeldete Veranstaltungen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GUI.Activities.Teilnehmer.TeilnehmerDetailActivity"
            android:label="Angemeldete Veranstaltungen" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".GUI.Activities.Fahrer.FahrerActivity"
            android:label="Auftragsliste"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GUI.Activities.Fahrer.FahrerDetailActivity"
            android:label="@string/title_activity_fahrer_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>